<!-- ---------------------------------------- [head] ---------------------------------------- -->
<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main_layout">

<head>
    <title>lktgt private blog</title>
    <th:block th:insert="fragments/layout.html :: th-header"></th:block>
</head>
<body>
<th:block th:insert="fragments/layout.html :: th-login"></th:block>
<th:block th:insert="fragments/layout.html :: th-navbar"></th:block>
<!-- ---------------------------------------- [edit] ---------------------------------------- -->
<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">언어</th>
            <th scope="col">결과</th>
            <th scope="col">시간</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="code : ${codeList}">
            <td><a th:href="@{/code(id=${code.id})}"th:text="${code.id}"></a></td>
            <td th:text="${code.language}"></td>
            <td th:text="${code.result}"></td>
            <td th:text="${code.time}"></td>
        </tr>
        </tbody>
    </table>
</div>



<!-- ---------------------------------------- [edit] ---------------------------------------- -->
<th:block th:insert="fragments/layout.html :: th-footer"></th:block>
</body>
</html>
<!-- ---------------------------------------------------------------------------------------- -->