<!-- ---------------------------------------- [head] ---------------------------------------- -->
<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main_layout">

<head>
    <title>lktgt private blog</title>
    <th:block th:insert="fragments/layout.html :: th-header"></th:block>
</head>
<body>
<th:block th:insert="fragments/layout.html :: th-login"></th:block>
<th:block th:insert="fragments/layout.html :: th-navbar"></th:block>
<!-- ---------------------------------------- [edit] ---------------------------------------- -->


<div class="row">
    <div class="container">
        <form action="/IDE" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label for="language">Language</label>
                        <select class="form-control" id="language" name="language">
                            <option>C++ 17</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <div class="form-group">
                        <label for="code">Code</label>
                        <textarea class="form-control" id="code" rows="20" name="code"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="randominput">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <div class="from-row">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="test">Options</label>
                    </div>
                    <select class="custom-select" id="test" name="test">
                        <option selected value="1">One</option>
                        <option value="2">Two</option>
                    </select>
                    <label for="addkmin">kmin</label>
                    <input class="form-control" id="addkmin" name="addkmin">
                    <label for="addkmax">kmax</label>
                    <input class="form-control" id="addkmax" name="addkmax">
                    <label for="addrangemin">min</label>
                    <input class="form-control" id="addrangemin" name="addrangemin">
                    <label for="addrangemax">max</label>
                    <input class="form-control" id="addrangemax" name="addrangemax">
                </div>
                <a class="btn btn-outline-dark" id="addformbtn" name="addForm">추가</a>
            </div>
            <div id="addedForms">


            </div>
        </form>
    </div>

</div>



<!-- ---------------------------------------- [edit] ---------------------------------------- -->
<th:block th:insert="fragments/layout.html :: th-footer"></th:block>
<script type="text/javascript" src="js/addRandomInput.js"></script>
</body>
</html>
<!-- ---------------------------------------------------------------------------------------- -->
