<!-- ---------------------------------------- [head] ---------------------------------------- -->
<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><head>
    <title>lktgt private blog</title>
    <th:block th:insert="fragments/layout.html :: th-header"></th:block>
</head>
<body>
<th:block th:insert="fragments/layout.html :: th-login"></th:block>
<th:block th:insert="fragments/layout.html :: th-navbar"></th:block>
<!-- ---------------------------------------- [edit] ---------------------------------------- -->
<div class="container">
    <form action="/login" method="post">
        <div class="form-group">
            <label for="name">Email address</label>
            <input type="email" class="form-control" name="name" id="name" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="pw">Password</label>
            <input type="password" class="form-control" name="pw" id="pw">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



<!-- ---------------------------------------- [edit] ---------------------------------------- -->
<th:block th:insert="fragments/layout.html :: th-footer"></th:block>
</body>
</html>
<!-- ---------------------------------------------------------------------------------------- -->